<div class="field">
  <%= f.text_field :first_name, autofocus: true, placeholder: "First Name"  %>
</div>

<div class="field">
  <%= f.text_field :last_name, placeholder: "Last Name"  %>
</div>

<div class="field">
  <%= f.email_field :email, placeholder: "Email"  %>
</div>

<div class="field">
  <%= f.text_field :ori, placeholder: "ORI"  %>
</div>

<div class="field">
  <%= f.text_field :department, placeholder: "Department"  %>
</div>

<div class="field">
  <%= f.text_field :role, placeholder: "Role"  %>
</div>

<div class="field">
  <%= f.text_field :user_id, placeholder: "User ID (from ECARS)"  %>
</div>
