<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= render partial: "user_account_fields", locals: {f: f} %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "New password (optional)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password (REQUIRED)" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back to my dashboard", :back %>
