<!DOCTYPE html>
<html>
<%= render "layouts/partials/head" %>
<body class="<%= class_names %>">
  <div id="container">
    <%= render "layouts/partials/nav" %>
    <div id="body">
      <%= content_for?(:body) ? yield(:body) : yield %>
    </div>
  	<%= render "layouts/partials/footer" %>
  </div>
</body>
</html>
